apiVersion: v1
kind: Config
clusters:
- name: local
  cluster:
    certificate-authority: ../ssl/ca/ca.pem
    server: {{cnf["api_servers"]}}
users:
- name: kubelet
  user:
    client-certificate: ../ssl/kubelet/apiserver.pem
    client-key: ../ssl/kubelet/apiserver-key.pem
contexts:
- context:
    cluster: local
    user: kubelet
  name: kubelet-context
current-context: kubelet-context
