@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebPortal</title>
    <link rel="stylesheet" href="~/layui/css/layui.css" media="all">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!-- JQuery: dropdown-menu -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Angular JS, need to be in header, otherwise, cause an Angular JS injection error. 2017.08 -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- X-Editable https://vitalets.github.io/angular-xeditable/ -->
    <link src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.0/css/xeditable.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.0/js/xeditable.min.js"></script>


    <script src="~/js/elasticsearch-js/elasticsearch.js"></script>
    <script src="~/js/elasticsearch-js/elasticsearch.angular.js"></script>
    <script src="~/js/elasticsearch-js/elasticsearch.jquery.js"></script>
    <script src="~/layui/layui.js" charset="utf-8"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">WebPortal</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="JobSubmission">Submit New Job</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ViewJobs">View and Manage Jobs</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="ViewCluster">Cluster Status</a></li>
                    @if (Context.Session.GetString("isAdmin") == "true")
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="ManageUser">Manage Users</a></li>      
                    }
                    <li><a href="/Home/JobSubmission/?Mode=templates">Templates</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Deep Learning Workspace - WebPortal</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>

