*.pyc
**/config.yaml
**/cluster.yaml
**/azure_cluster_config.yaml
**/gs_cluster_file.yaml
**/aws_cluster_file.yaml
**/pxe-coreos-kube.yml
**/pxe-kubemaster.yml
**/azuredeploy*.parameters.json
**/*.pem
**/id_rsa
**/id_rsa.pub
**/deploy/*
src/ClusterBootstrap/*.yaml

*.iso
*.srl
*.swp

src/RepairManager/id_rsa
src/ClusterBootstrap/ssl/ca/ca.srl
**/run.sh.generated

# Generate file
src/docker-image/Readme.md
src/docker-image/dev/Dockerfile
src/docker-image/dev/Readme.md

src/ClusterBootstrap/.nfs*
src/ClusterBootstrap/iso-creator/mkimg.sh

src/ClusterBootstrap/deploy_backup/*
src/ClusterBootstrap/cloudinit/*
src/ClusterBootstrap/cloudinit.tar

src/ClusterBootstrap/scripts/deploy_framework.sh
src/ClusterBootstrap/scripts/add_machines.sh
src/ClusterBootstrap/scripts/pass_secret.sh

#ASP.NET core
src/WebUI/dotnet/.vs/**
src/WebUI/dotnet/WebPortal/dashboardConfig.json
src/WebUI/dotnet/WebPortal/userconfig.json
src/WebUI/dotnet/WebPortal/configAuth.json
src/WebUI/dotnet/WebPortal/Master-Templates.json
src/WebUI/dotnet/WebPortal/hosting.json
**package-lock.json
**/wwwroot/*
**/bin/Release/*
**/bin/Debug/*
**/obj/Release/*
**/obj/Debug/*
**/obj/*
**/Properties/*
**/node_modules/*
**/bower_components/*
**/.bowerrc
**/project.lock.json
**/WebPortal/obj/*
# SQLite database file
*.db
**/.suo
**/storage.ide

src/RepairManager/.vs/*
src/RepairManager/test/mock-data/*
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
/.vs/DLWorkspace/v15/.suo

cluster-autoscaler
src/ClusterBootstrap/services/monitor/grafana-config.yaml
src/ClusterBootstrap/services/monitor/prometheus-alerting.yaml
src/ClusterBootstrap/services/monitor/alert-templates.yaml
src/ClusterBootstrap/services/jobmanager/dlws-scripts.yaml
src/ClusterBootstrap/services/monitor/alerting/kill-idle.rules
src/ClusterBootstrap/template/*config.yaml.template

**/.vscode/*
.idea
venv
