*.pyc
**/config.yaml
**/pxe-coreos-kube.yml
**/pxe-kubemaster.yml
**/openssl-etcd.cnf
**/openssl-apiserver.cnf
**/*.pem
**/id_rsa
**/id_rsa.pub
**/deploy/*

*.iso
*.srl
*.swp

src/ClusterBootstrap/ssl/ca/ca.srl

# Generate file
src/docker-image/Readme.md
src/docker-image/dev/Dockerfile
src/docker-image/dev/Readme.md

src/ClusterBootstrap/.nfs*
src/ClusterBootstrap/iso-creator/mkimg.sh

src/ClusterBootstrap/deploy_backup/*

