[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
oauthlib = "*"
requests = "*"
requests-oauthlib = "*"
pyyaml = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.5"

[scripts]
start = "python ."
lint = "flake8 ."
