sudo systemctl disable systemd-resolved.service
sudo systemctl stop systemd-resolved
# echo "dns=default" | sudo tee -a /etc/NetworkManager/NetworkManager.conf
sudo rm /etc/resolv.conf
echo "nameserver {{cnf["dns_server"][cnf["platform_type"]]}}" | sudo tee -a /etc/resolv.conf
echo 'search {{cnf["network_domain"]}}' | sudo tee -a /etc/resolv.conf
# sudo service network-manager restart