@{
    ViewData["Title"] = "Submit Data Job";
}

<link rel="stylesheet" href="~/layui/css/layui.css" media="all">

<style>
    a:link {
        color: #1F45FC
    }


</style>


<script type="text/javascript">

    var app = angular.module('dataJobApp', ["xeditable", "ui.select", "ngMaterial", 'ngMessages']);

    app.run(function (editableOptions) {
        editableOptions.theme = 'bs3';
    });

    app.controller('dataJobCtrl', function ($scope, $http) {
        $scope.busy = false;
        $scope.current = {};

        $scope.submit = function () {
            $http.post("/api/dlws/dataJob", $scope.current)
                .then(function (response) {
                    var data = response.data;
                    if (data.jobId) {
                        layer.alert("Job Submitted! <br> Job ID:" + data.jobId, {
                            time: 0, icon: 6, btn: 'Ok', title: 'Job Submitted'
                        });
                    } else if (data.error) {
                        layer.msg("Error: " + data.error);
                        $("#submit").attr("disabled", false);
                    } else {
                        layer.msg("Unexpected error: " + data);
                        $("#submit").attr("disabled", false);
                    }
                }, function () {
                    layer.alert("RestfulAPI error!", { icon: 5, btn: 'Ok', title: 'alert' })
                });
        };
    });



</script>


<div ng-app="dataJobApp" ng-controller="dataJobCtrl" layout="column" ng-cloak class="modal-dialog" role="document" style="width:60%;top:30px;bottom:30px;">
    <md-content layout-padding>
        <form ng-submit="submit">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="submitModalLabel">Manage Data</h4>
                </div>

                <div class="modal-body">
                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Your Work Directory</label>
                            <input value="@ViewData["workPath"].ToString().Replace("file:", "").Replace("/", "\\\\")" readonly>
                        </md-input-container>

                        <md-input-container flex="50">
                            <label>Your Data Directory</label>
                            <input value="@ViewData["dataPath"].ToString().Replace("file:", "").Replace("/", "\\\\")" readonly>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container flex="50">
                            <label>Copy Data From</label>
                            <md-select ng-model="current.fromType" required>
                                <md-option value="nfs" selected>NFS</md-option>
                                <md-option value="adls" ng-if="current.to !== 'adls'">ADLS</md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex="50">
                            <label>Copy Data To</label>
                            <md-select ng-model="current.toType" required>
                                <md-option value="nfs" selected>NFS</md-option>
                                <md-option value="adls" ng-if="current.from !== 'adls'">ADLS</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container>
                            <label>From Data Folder</label>
                            <input ng-model="current.fromFolder" required>
                        </md-input-container>
                    </div>

                    <div layout="row">
                        <md-input-container>
                            <label>To Data Folder</label>
                            <input ng-model="current.toFolder" required>
                        </md-input-container>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn pull-right btn-primary">
                        Submit Job
                    </button>
                </div>
            </div>
        </form>
    </md-content>
</div>
<br />

<script src="/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        element.on('collapse(test)', function (data) {
        });
    });
</script>
