@{
    ViewData["Title"] = "View Your Submitted Job";
}

<br />
<br />
<h1>View Your Jobs:</h1>



<script type="text/javascript">
    function KillJob(jobId) {
        $.ajax({
            url: "/api/dlws/KillJob?jobId=" + jobId,
            dataType: 'json',
            timeout: 30000 //10 second timeout,
        }).done(
        function (json) {
            alert(json.result);
        });
    }
</script>

<script>
    function DatetoStr(date) {
        var submitTimeStr = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
        return submitTimeStr

    }
    function buildTable() {
        $.ajax({
            url: "/api/dlws/ListJobs",
            dataType: 'json',
            timeout: 30000 //120 second timeout,
        }).done(
            function (json) {
                $("#running-job-table").find("tr:gt(0)").remove();
                var tr;
                //Append each row to html table
                for (var i = 0; i < json.runningJobs.length; i++) {
                    tr = $('<tr/>');
                    tr.append("<td> <a href='/Home/JobDetail/?jobId=" + json.runningJobs[i].jobId + "'>" + json.runningJobs[i].jobId + "</a></td>");
                    tr.append("<td>" + json.runningJobs[i].jobName + "</td>");
                    var statusMsg = ""
                    if (json.runningJobs[i].jobStatusDetail && json.runningJobs[i].jobStatusDetail.length > 0 && json.runningJobs[i].jobStatusDetail[0].message) {
                        statusMsg = json.runningJobs[i].jobStatusDetail[0].message
                    }
                    tr.append("<td title='" + statusMsg +"'>" + json.runningJobs[i].jobStatus + "</td>");
                    tr.append("<td>" + json.runningJobs[i].jobParams.resourcegpu + "</td>");
                    tr.append("<td>" + json.runningJobs[i].userName + "</td>");
                    var submitTime = new Date(Date.parse(json.runningJobs[i].jobTime))
                    var submitTimeStr = DatetoStr(submitTime)
                    tr.append("<td>" + submitTimeStr + "</td>");
                    var startedAtTime = "unknown";
                    if (json.runningJobs[i].jobStatusDetail && json.runningJobs[i].jobStatusDetail.length >0 && json.runningJobs[i].jobStatusDetail[0].startedAt)
                    {
                        var t = new Date(Date.parse(json.runningJobs[i].jobStatusDetail[0].startedAt))
                        startedAtTime = DatetoStr(t)
                    }
                    tr.append("<td>" + startedAtTime + "</td>");
                    tr.append("<td> <a href='#'  onclick=\"KillJob('" + json.runningJobs[i].jobId + "')\" > kill </a></td>");
                    $('#running-job-table').append(tr);
                }

                $("#finished-job-table").find("tr:gt(0)").remove();
                if (json.finishedJobs.length <= 0) {
                    $('#finished-job').hide();
                }
                else {
                    var tr;
                    $('#finished-job').show();
                    //Append each row to html table
                    for (var i = 0; i < json.finishedJobs.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td> <a href='/Home/JobDetail/?jobId=" + json.finishedJobs[i].jobId + "'>" + json.finishedJobs[i].jobId + "</a></td>");
                        tr.append("<td>" + json.finishedJobs[i].jobName + "</td>");
                        var statusMsg = ""
                        if (json.finishedJobs[i].jobStatusDetail && json.finishedJobs[i].jobStatusDetail.length > 0  && json.finishedJobs[i].jobStatusDetail[0].message) {
                            statusMsg = json.finishedJobs[i].jobStatusDetail[0].message
                        }
                        tr.append("<td title='" + statusMsg +"'>" + json.finishedJobs[i].jobStatus + "</td>");
                        tr.append("<td>" + json.finishedJobs[i].jobParams.resourcegpu + "</td>");
                        tr.append("<td>" + json.finishedJobs[i].userName + "</td>");
                        var submitTime = new Date(Date.parse(json.finishedJobs[i].jobTime))
                        var submitTimeStr = DatetoStr(submitTime)
                        tr.append("<td>" + submitTimeStr + "</td>");
                        var finishedAtTime = "unknown";
                        if (json.finishedJobs[i].jobStatusDetail && json.finishedJobs[i].jobStatusDetail.length >0 && json.finishedJobs[i].jobStatusDetail[0].finishedAt) {
                            var t = new Date(Date.parse(json.finishedJobs[i].jobStatusDetail[0].finishedAt))
                            finishedAtTime = DatetoStr(t)
                        }
                        tr.append("<td>" + finishedAtTime + "</td>");

                        $('#finished-job-table').append(tr);
                    }
                }


                $("#queued-job-table").find("tr:gt(0)").remove();
                if (json.queuedJobs.length <= 0) {
                    $('#queued-job').hide();

                }
                else {
                    $('#queued-job').show()
                    var tr;
                    //Append each row to html table
                    for (var i = 0; i < json.queuedJobs.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td> <a href='/Home/JobDetail/?jobId=" + json.queuedJobs[i].jobId + "'>" + json.queuedJobs[i].jobId + "</a></td>");
                        tr.append("<td>" + json.queuedJobs[i].jobName + "</td>");
                        var statusMsg = ""
                        if (json.queuedJobs[i].jobStatusDetail && json.queuedJobs[i].jobStatusDetail.length > 0 && json.queuedJobs[i].jobStatusDetail[0].message)
                        {
                            statusMsg = json.queuedJobs[i].jobStatusDetail[0].message
                        }
                        tr.append("<td title='" + statusMsg  +"'>" + json.queuedJobs[i].jobStatus + "</td>");
                        tr.append("<td>" + json.queuedJobs[i].jobParams.resourcegpu + "</td>");
                        tr.append("<td>" + json.queuedJobs[i].userName + "</td>");
                        var submitTime = new Date(Date.parse(json.queuedJobs[i].jobTime))
                        var submitTimeStr = DatetoStr(submitTime)
                        tr.append("<td>" + submitTimeStr + "</td>");
                        tr.append("<td> <a href='#'  onclick=\"KillJob('" + json.queuedJobs[i].jobId + "')\" > kill </a></td>");
                        $('#queued-job-table').append(tr);
                    }
                }


                $("#visualization-job-table").find("tr:gt(0)").remove();
                if (json.visualizationJobs.length <= 0) {
                    $('#visualization-job').hide();

                }
                else {
                    $('#visualization-job').show()
                    var tr;
                    //Append each row to html table
                    for (var i = 0; i < json.visualizationJobs.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td> <a href='/Home/JobDetail/?jobId=" + json.visualizationJobs[i].jobId + "'>" + json.visualizationJobs[i].jobId + "</a></td>");
                        tr.append("<td>" + json.visualizationJobs[i].jobName + "</td>");
                        var statusMsg = ""
                        if (json.visualizationJobs[i].jobStatusDetail && json.visualizationJobs[i].jobStatusDetail.length > 0 && json.visualizationJobs[i].jobStatusDetail[0].message) {
                            statusMsg = json.visualizationJobs[i].jobStatusDetail[0].message
                        }
                        tr.append("<td title='" + statusMsg +"'>" + json.visualizationJobs[i].jobStatus+ "</td>");
                        tr.append("<td>" + json.visualizationJobs[i].jobParams.resourcegpu + "</td>");
                        tr.append("<td>" + json.visualizationJobs[i].userName + "</td>");
                        var startedAtTime = "unknown";
                        if (json.visualizationJobs[i].jobStatusDetail && json.visualizationJobs[i].jobStatusDetail.length >0 && json.visualizationJobs[i].jobStatusDetail[0].startedAt) {
                            var t = new Date(Date.parse(json.visualizationJobs[i].jobStatusDetail[0].startedAt))
                            startedAtTime = DatetoStr(t)
                        }
                        tr.append("<td>" + startedAtTime + "</td>");
                        tr.append("<td> <a href='#'  onclick=\"KillJob('" + json.visualizationJobs[i].jobId + "')\" > kill </a></td>");

                        $('#visualization-job-table').append(tr);
                    }
                }


            });
    }

    $(document).ready(function () {
        buildTable();
        var refresh = setInterval(function () {
            buildTable();
        }, 30000);
        $(document).tooltip({
            track: true
        });
    });

</script>



<div id="queued-job" hidden>
    <p> <b>Queued Jobs</b></p>
    <table id="queued-job-table" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Job Id</th>
                <th>Job Name</th>
                <th>Status</th>
                <th>GPU</th>
                <th>User Name</th>
                <th>Submitted Time</th>
                <th>Kill it</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<p> <b>Running Jobs</b></p>
<table id="running-job-table" class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Job Id</th>
            <th>Job Name</th>
            <th>Status</th>
            <th>GPU</th>
            <th>User Name</th>
            <th>Submitted Time</th>
            <th>Started Time</th>
            <th>Kill it</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div id="visualization-job" hidden>
    <p> <b>Visualization Jobs</b></p>
    <table id="visualization-job-table" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Job Id</th>
                <th>Job Name</th>
                <th>Status</th>
                <th>GPU</th>
                <th>User Name</th>
                <th>Started Time</th>
                <th>Kill it</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<div id="finished-job" hidden>

    <p> <b>Finished Jobs</b></p>
    <table id="finished-job-table" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Job Id</th>
                <th>Job Name</th>
                <th>Status</th>
                <th>GPU</th>
                <th>User Name</th>
                <th>Submitted Time</th>
                <th>Finished Time</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
