@{
    ViewData["Title"] = "Cluster Status";
}



<script>
    function buildTable() {
        $.ajax({
            url: "/api/dlws/GetClusterStatus",
            dataType: 'json',
            timeout: 10000 //10 second timeout,
        }).done(
            function (json) {
                $("#node_status").find("tr:gt(0)").remove();
                var tr;
                //Append each row to html table
                for (var i = 0; i < json.node_status.length; i++) {
                    tr = $('<tr/>');
                    tr.append("<td>" + json.node_status[i].name + "</td>");
                    tr.append("<td>" + json.node_status[i].InternalIP + "</td>");
                    tr.append("<td>" + json.node_status[i].gpu_capacity + "</td>");
                    tr.append("<td>" + json.node_status[i].gpu_used + "</td>");
                    tr.append("<td>" + (json.node_status[i].gpu_allocatable - json.node_status[i].gpu_used) + "</td>");
                    if (json.node_status[i].unschedulable) {
                        tr.append("<td> Unschedulable </td > ");
                    }
                    else 
                    {
                        tr.append("<td> OK </td>");
                    }

                    var service_str = "";
                    for (var j = 0; j < json.node_status[i].scheduled_service.length; j++) {
                        service_str += "[" +json.node_status[i].scheduled_service[j] + "]  ";
                    }
                    tr.append("<td width=\"20%\">" + service_str + "</td>");

                    var pod_str = "";
                    for (var j = 0; j < json.node_status[i].pods.length; j++) {
                        if (json.node_status[i].pods[j].includes("!!!!!!")) {
                            pod_str += "<font color=\"red\"><b>[" + json.node_status[i].pods[j].replace("!!!!!!", "") + "]</b></font> ";
                        }
                        else {
                            pod_str += "[" + json.node_status[i].pods[j] + "] ";
                        }

                        pod_str += "<br/>";
                    }
                    tr.append("<td>" + pod_str + "</td>");

                    $('#node_status').append(tr);
                }


                $("#cluster_status").find("tr:gt(0)").remove();
                var tr;
                //Append each row to html table
                tr = $('<tr/>');
                tr.append("<td>" + json.gpu_capacity + "</td>");
                tr.append("<td>" + json.gpu_unschedulable + "</td>");
                tr.append("<td>" + json.gpu_used + "</td>");
                tr.append("<td>" + json.gpu_avaliable + "</td>");
                tr.append("<td>" + json.AvaliableJobNum + "</td>");
                tr.append("<td>" + json.TotalJobNum + "</td>");

                $('#cluster_status').append(tr);



                $("#user_status").find("tr:gt(0)").remove();
                var tr;
                //Append each row to html table
                for (var i = 0; i < json.user_status.length; i++) {
                    tr = $('<tr/>');
                    tr.append("<td>" + json.user_status[i].userName + "</td>");
                    tr.append("<td>" + json.user_status[i].userGPU + "</td>");

                    $('#user_status').append(tr);
                }

               
            });
    }

    $(document).ready(function () {
        buildTable();
        var refresh = setInterval(function () {
            buildTable();
        }, 5000);
    });

</script>


<br />
<br />
<br />
<h1>Cluster Status:</h1>


<table id="cluster_status" class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Total GPU</th>
            <th>Reserved GPU</th>
            <th>Used GPU</th>
            <th>Avaliable GPU</th>
            <th>Active Jobs</th>
            <th>Total Jobs</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<h1>Cluster Usage:</h1>


<table id="cluster_usage" class="table">
    <thead>
        <tr>
            <th><iframe src="@Context.Request.Protocol://@Context.Request.Host/grafana/dashboard-solo/db/gpu?refresh=5m&orgId=1&panelId=113&var-datasource=collectd&from=@((DateTime.UtcNow.AddDays(-8).Ticks - 621355968000000000) / 10000)&to=@((DateTime.UtcNow.Ticks - 621355968000000000) / 10000)" width="100%" height="200" frameborder="0"></iframe></th>
            <!--
            <th><iframe src="http://@Context.Request.Host:3000/dashboard-solo/db/gpu?refresh=5m&orgId=1&panelId=75&var-datasource=collectd&from=@((DateTime.UtcNow.AddHours(-8).Ticks - 621355968000000000) / 10000)&to=@((DateTime.UtcNow.Ticks - 621355968000000000) / 10000)" width="100%" height="200" frameborder="0"></iframe></th>
            <th><iframe src="http://@Context.Request.Host:3000/dashboard-solo/db/gpu?refresh=5m&orgId=1&panelId=76&var-datasource=collectd&from=@((DateTime.UtcNow.AddHours(-8).Ticks - 621355968000000000) / 10000)&to=@((DateTime.UtcNow.Ticks - 621355968000000000) / 10000)" width="100%" height="200" frameborder="0"></iframe></th>
            <th><iframe src="http://@Context.Request.Host:3000/dashboard-solo/db/gpu?refresh=5m&orgId=1&panelId=77&var-datasource=collectd&from=@((DateTime.UtcNow.AddHours(-8).Ticks - 621355968000000000) / 10000)&to=@((DateTime.UtcNow.Ticks - 621355968000000000) / 10000)" width="100%" height="200" frameborder="0"></iframe></th>
        -->
        </tr>
    </thead>
    <tbody></tbody>
</table>




<h1>
    Node Status:
</h1>


    <table id="node_status" class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Node Name</th>
                <th>Node IP</th>
                <th>GPU Capacity</th>
                <th>Used GPU</th>
                <th>Avaliable GPU</th>
                <th>Status</th>
                <th>Services</th>
                <th>Pods</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>


<h1>
    User Status:
</h1>

<table id="user_status" class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Used GPU</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
