{% for regi_name, regi_cred in cnf["registry_credential"].items() %}   
docker login {{ regi_name }} -u {{ regi_cred["username"] }} -p {{ regi_cred["password"] }}
{% endfor %}
chown -R {{cnf["admin_username"]}}:{{cnf["admin_username"]}} /home/{{cnf["admin_username"]}}/.docker/
chown -R {{cnf["admin_username"]}}:{{cnf["admin_username"]}} /home/{{cnf["admin_username"]}}/.kube/
/opt/bin/kubectl create secret generic regcred --from-file=.dockerconfigjson=/home/{{cnf["admin_username"]}}/.docker/config.json --type=kubernetes.io/dockerconfigjson --dry-run -o yaml | /opt/bin/kubectl apply -f -