<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Model UI</title>
    <!-- Angular JS, need to be in header, otherwise, cause an Angular JS injection error. 2017.08 -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- JQuery: dropdown-menu -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- X-Editable https://vitalets.github.io/angular-xeditable/ -->
    <link src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.0/css/xeditable.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.0/js/xeditable.min.js"></script>
</head>

<body>
    <div class="container body-content">
        <br />
        <br />
        <div ng-app="app" ng-controller="EditCtrl" id="EditCtrl">
            <div ng-repeat="imageDescription in allImages">
                <a href="#" editable-text="imageDescription.name" e-label="Image tag">{{ imageDescription.name || 'empty tag' }}</a>
                <button type="button" class="btn btn-primary" ng-click="queryImage(imageDescription.name, imageDescription)">Find images!  <i class="fa fa-play" aria-hidden="true"></i></button>
                <img ng-repeat="oneimage in imageDescription.candidateImages" src="{{oneimage.murl}}" style="width:100px">
                <button type="button" class="btn btn-danger" ng-click="removeItem(allImages, $index)">
                    Delete This Section
                </button>
            </div>
            <button type="button" class="btn btn-success" ng-click="addItem(allImages)">
                Add a New Tag
            </button>
        </div>
        <hr />
        <footer>
            <p>&copy; 2017 - EmpressPenguin</p>
        </footer>
    </div>

    <script>
        var app = angular.module("app", ["xeditable"]);

        app.run(function (editableOptions) {
            editableOptions.theme = 'bs3';
        });

        app.controller('EditCtrl', function ($scope, $filter, $http, $log) {
            $scope.allImages = [];
                
            $scope.queryImage = function(name, sec) {
                var queryUrl = "/api/BingImageSearch2/query=" + window.encodeURIComponent(name); 
                $http.get(queryUrl).success(function (response) {
                    var candidates = response.images;
                    sec.candidateImages = candidates;
                }).error(function (response) {
                    $log.log('query for ' + name + ' failed, check on image server');
                });
            };

            // remove item
            $scope.removeItem = function (menuitems, index) {
                menuitems.splice(index, 1);
            };

            // add item
            $scope.addItem = function (menuitems) {
                inserted = {
                    name: "#tbd"
                };
                menuitems.push(inserted);
            };
        });

        $('.table-responsive').on('show.bs.dropdown', function () {
            $('.table-responsive').css("overflow", "inherit");
        });

        $('.table-responsive').on('hide.bs.dropdown', function () {
            $('.table-responsive').css("overflow", "auto");
        })
        
    </script>
</body>
</html>
