<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Model UI</title>
    <!-- Angular JS, need to be in header, otherwise, cause an Angular JS injection error. 2017.08 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>-->
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="./bower_components/ng-file-upload/ng-file-upload.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- JQuery: dropdown-menu -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- X-Editable https://vitalets.github.io/angular-xeditable/ -->
    <link src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.0/css/xeditable.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.8.0/js/xeditable.min.js"></script>


</head>

<body>
    <div class="container body-content">
        <br />
        <h1>Upload an image and we will recognize it!</h1>
        <br />
        <form ng-app="fileUpload" ng-controller="MyCtrl" name="form">
           
            <input type="file" ngf-select ng-model="picFile" name="file"    
                    accept="image/*" ngf-max-size="2MB" required
                    ngf-model-invalid="errorFile">
            <i ng-show="myForm.file.$error.required">*required</i><br>
            <i ng-show="myForm.file.$error.maxSize">File too large 
                {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
            <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
            <br>
            <button type="button" class="btn btn-success"  
                    ng-click="uploadPic(picFile)">Submit</button>
            <span class="progress" ng-show="picFile.progress >= 0">
                <div style="width:{{picFile.progress}}%" 
                    ng-bind="picFile.progress + '%'"></div>
            </span>
            <span ng-show="picFile.result">Upload Successful</span>
            <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </fieldset>
            <br>

            <h2 >
                Uploaded image: {{imagename}}
            </h2>    

        </form>

        <footer>
            <p>&copy; 2017 - EmpressPenguin</p>
        </footer>
    </div>

    <script>
        var app = angular.module("fileUpload", ["xeditable", "ngFileUpload"]);

        app.run(function (editableOptions) {
            editableOptions.theme = 'bs3';
        });
        
        app.controller('MyCtrl', [ "$scope", "$filter", "$http", "$log", "$timeout", "Upload", function($scope, $filter, $http, $log, $timeout, Upload ) {
            $scope.submit = function() {
              if ($scope.form.file.$valid && $scope.file) {
                    $scope.upload($scope.file);
                }
            };

            $scope.uploadPic = function(file) {
                file.upload = Upload.upload({
                url: 'http://127.0.0.1:180/api/receiveImg',
                data: {file: file},
                });

            // upload on file select or drop
                file.upload.then(function (response) {
                    $scope.imagename = response.data.imgname;
                    $timeout(function () {
                        file.result = response.data;
                    });
                    }, function (response) {
                        
                        if (response.status > 0)
                            $scope.errorMsg = response.status + ': ' + response.data;
                        }, function (evt) {
                        // Math.min is to fix IE which reports 200% sometimes
                        file.progress = Math.min(100, parseInt(100.0 * evt.loaded / evt.total));
                    });
               };

         }]);


        app.controller('EditCtrl', function ($scope, $filter, $http, $log) {
            $scope.allImages = [];
            
            $scope.queryImage = function(name, sec) {
                var queryUrl = "/api/BingImageSearch2/query=" + window.encodeURIComponent(name); 
                $http.get(queryUrl).success(function (response) {
                    var candidates = response.images;
                    sec.candidateImages = candidates;
                }).error(function (response) {
                    $log.log('query for ' + name + ' failed, check on image server');
                });
            };

            // remove item
            $scope.removeItem = function (menuitems, index) {
                menuitems.splice(index, 1);
            };

            // add item
            $scope.addItem = function (menuitems) {
                inserted = {
                    name: "#tbd"
                };
                menuitems.push(inserted);
            };
        });

        $('.table-responsive').on('show.bs.dropdown', function () {
            $('.table-responsive').css("overflow", "inherit");
        });

        $('.table-responsive').on('hide.bs.dropdown', function () {
            $('.table-responsive').css("overflow", "auto");
        })
        
    </script>
</body>
</html>
