[Unit]
Description=Mounta LVM for glusterfs
After=format-drives.service
Before=docker.service

[Mount]
What={{cnf["glusterfs-device"]}}
Where={{cnf["glusterfs-localvolume"]}}

[Install]
WantedBy=docker.service
