[Unit]
Description=NVIDIA Docker plugin
After=local-fs.target network.target nvidia-driver.service
Wants=docker.service nvidia-driver.service
[Service]
Environment="SOCK_DIR=/var/lib/nvidia-docker"
Environment="SPEC_FILE=/etc/docker/plugins/nvidia-docker.spec"
Environment="NVIDIA_VERSION={{cnf["nvidiadriverversion"]}}"

Restart=on-failure
RestartSec=10
TimeoutStartSec=0
TimeoutStopSec=20


ExecStartPre=/bin/bash -c "if [ ! -f /opt/bin/nvidia-docker ]; then wget -q -O - /tmp https://github.com/NVIDIA/nvidia-docker/releases/download/v1.0.1/nvidia-docker_1.0.1_amd64.tar.xz | sudo tar --strip-components=1 -C /opt/bin -Jxvf - ; fi"
ExecStartPre=/bin/bash -c 'until [ -f /proc/driver/nvidia/version ] && grep -q $NVIDIA_VERSION /proc/driver/nvidia/version && lsmod | grep -qE "^nvidia" && [ -e /dev/nvidia0 ] && [ -e /opt/nvidia-driver/current/lib64/libnvidia-ml.so ] ; do /bin/echo "waiting for nvidia-driver..." ; /bin/sleep 2 ; done'
ExecStartPre=/bin/bash -c 'docker volume rm nvidia_driver_$NVIDIA_VERSION ; exit 0'
ExecStart=/bin/bash -c 'PATH=$PATH:/opt/bin /opt/bin/nvidia-docker-plugin -s $SOCK_DIR'
ExecStartPost=/bin/sh -c '/bin/mkdir -p $( dirname $SPEC_FILE )'
ExecStartPost=/bin/sh -c '/bin/echo unix://$SOCK_DIR/nvidia-docker.sock > $SPEC_FILE'
ExecStopPost=/bin/rm -f $SPEC_FILE
ExecStopPost=/bin/rm /opt/nvidia-docker-plugin.log
ExecStopPost=/bin/bash -c 'docker volume rm nvidia_driver_$NVIDIA_VERSION ; exit 0'

[Install]
WantedBy=multi-user.target
