mysql :
  hostname : {{cnf["mysql-hostname"]}}
  username : {{cnf["mysql-username"]}}
  password : {{cnf["mysql-password"]}}
  database : {{cnf["mysql-database"]}}
kubelet-path : /usr/local/bin/kubectl
storage-mount-path : /dlws-data/
root-path : /DLWorkspace/src/
