[Unit]
Description=Auto mount service
# Wants=auto_share.timer

[Service]
Type=oneshot
ExecStart={{cnf["folder_auto_share"]}}/auto_share.py
StandardError=journal

[Install]
# WantedBy=auto_share.target