kind: Service
apiVersion: v1
metadata:
  name: {{ svc["svc-name"] }}
  labels:
    run: {{ svc["svc-name"] }}
spec:
  type: NodePort
  selector:
    run: {{ svc["app-name"] }}
  ports:
  - name: {{ svc["port-name"] }}
    protocol: {{ svc["port-type"] }}
    port: {{ svc["port"] }}
    targetPort: {{ svc["port"] }}
