[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
azure = "==4.0.0"
python-dotenv = "*"
simplejson = "*"
werkzeug = "*"

[dev-packages]
click = "*"
flake8 = "*"
watchdog = "*"
pytest = "*"
requests-mock = "*"
yapf = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"

[scripts]
start = "python -m werkzeug.serving --debug --reload azure_blob_adapter.wsgi:application"
lint = "flake8 azure_blob_adapter"
test = "pytest --cov=. azure_blob_adapter"
