[Unit]
Description=Connect other glusterfs peer, and mount glusterFS volumes

After=network.target gluster-setup.service glusterd.service
Before=network-online.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart=/usr/bin/python /opt/glusterfs/launch_glusterfs.py
KillMode=process

[Install]
WantedBy=multi-user.target