apiVersion: v1
kind: Secret
metadata:
  name: {{ plugin.secreds }}
  labels:
    run: {{ plugin.jobId }}
type: azure/blobfuse
data:
  accountname: {{ plugin.accountName }}
  accountkey: {{ plugin.accountKey }}