apiVersion: v1
kind: Secret
metadata:
  name: {{ plugin.name }}
  namespace: default
  labels:
    run: {{ plugin.jobId }}
data:
  .dockerconfigjson: {{ plugin.dockerconfigjson }}
type: kubernetes.io/dockerconfigjson